{% extends './base.html' %}

{% block customCss %}<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css' )}}">{% endblock %}
{% block title %}Register User{% endblock %}

{% block body%}
    <main class="form-signin w-100 m-auto">
        <div class="d-flex">
            <a href="/login-user"><img src="{{url_for('static', filename='image/back.svg')}}" width="50" height="50"></a>
        </div>
        <form class="form-signin" action="/register-user" method="POST">
            <img class="mb-4" src="{{url_for('static', filename='image/logo.png')}}" alt="logo" width="100" height="100">
            <h1 class="h3 mb-3 fw-normal">Register form</h1>
            {{form.hidden_tag() }}
            <div class="form-floating">
                {{form.username (class="form-control")}}
                <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating">
                {{form.password (class="form-control")}}
                <label for="floatingPassword">Password</label>
            </div>
            <div class="form-floating">
                {{form.confirm (class="form-control")}}
                <label for="floatingPassword">Repeat Password</label>
            </div>
            <div class="form-floating">
                {{form.name (class="form-control")}}
                <label for="floatingPassword">Fullname</label>
            </div>
<!--            <div class="form-floating">-->
<!--                {{form.business (class="form-control")}}-->
<!--                <label for="floatingPassword">Business</label>-->
<!--            </div>-->
            <div class="mt-2">
                {{form.submit (class="w-100 btn btn-lg btn-primary")}}
            </div>

        </form>
        <p class="mt-5 mb-3 text-muted">&copy; David Dlp</p>
    </main>

{% endblock %}